html {
    background-image: url(/static/about-bg.jpg);
    color: #374b85;
}

.topbox {
    width: 70%;
    margin: 17% auto 5vw; auto;
}

.topbox > .title {
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.0em;
    text-align: center;
}

.contents {
    margin: auto;
    margin-top: 5vw;
    width: 60vw;
}

.contents > p {
    padding-top: 1vw;
    font-size: 1.2vw;
}

.carps {
    background-image: url(/static/carp.png);
    background-size: 20vw;
    background-repeat: no-repeat;
    background-position: 50% 200%;
}

.midbox {
    margin: auto;
    width: 60vw;
    font-size: 1.2vw;
    margin-top: 3vw;
}

.midbox > table {
    width: 100%;
    margin: auto;
    height: 20vw;
}

.midbox td {
    width: 50%;
}

.cols:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}


.left img {
    float: left;
    width: 10vw;
    margin-right: 1vw;
}

.right img {
    float: right;
    width: 10vw;
    margin-left: 1vw;
}

.midbox h4 {
    margin-bottom: 0.1vw;
}

.left {
    text-align: left;
    vertical-align: top;
}

.right {
    text-align: right;
    vertical-align: bottom;
}

.contents {
    font-size: 1.7vw;
    margin-top: 0vw;
}

.footer {
    margin-top: 15vw;
}
