html {
    background-image: url(/static/place-bg.jpg);
    color: #374b85;
}

.topbox {
    width: 70%;
    margin: 17% auto 5vw; auto;
}

.topbox > .title {
    font-weight: bold;
    font-size: 4vw;
    line-height: 1.0em;
    text-align: center;
}

.contents {
    margin: auto;
    margin-top: 5vw;
    width: 60vw;
    text-align: center;
    font-size: 1.4vw;
    line-height: 1.4em;
}

.contents .sunset {
    width: 10vw;
    margin: -2vw;
}

.contents > p {
    padding-top: 1vw;
}

.images {
    margin-top: -0vw;
}

.images p {
    padding: 0;
}

.images img {
    width: 29%;
    border-style: solid;
    border-width: 0.3vw;
    padding: 0.1vw;
}

.box {
    width: 70%;
    margin: auto;
    margin-bottom: -2vw;
}

.box .map {
    width: 18vw;
    float: left;
}

.box .wharves {
    width: 40vw;
    margin-left: 5vw;
    border-style: solid;
    border-width: 0.3vw;
    padding: 0.1vw;
}

.box h1 {
    text-align: center;
    font-size: 1.7vw;
}

.cols:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 50%;
}


.left img {
    float: left;
    width: 10vw;
    margin-right: 1vw;
}

.right img {
    float: right;
    width: 10vw;
    margin-left: 1vw;
}

.midbox h4 {
    margin-bottom: 0.1vw;
}

.left {
    text-align: left;
    vertical-align: top;
}

.right {
    text-align: right;
    vertical-align: bottom;
}

.footer {
    margin-top: 15vw;
}

.empty {
    height: 20vw;
}
